body {
  background-color: gray;
}

main {
  margin: auto;
  width: 60%;
  background-image: url(../images/26653595_10157077483557619_1230406604_o.jpg);
}

i {
  color: deeppink;
}

footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

i {
  transition-property: transform;
  transition-duration: 0.5s; 
  margin: 0 20px;
}

i:hover {
  transform:rotate(15deg);
}

