* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
/*  overflow: hidden;*/
}

main {
  margin: auto;
  display: block;
  width: 100%;
  min-height: 800px;
  background: url(../images/bildmedlogga.jpg) no-repeat;
  background-size: cover;
}

#socialBtns {
  text-align: center;
  width: 100%;
  background-color: #450000;
  padding-bottom: 20px;
}

i {
  transition-property: transform;
  transition-duration: 0.5s; 
  margin: 0 20px;
  color: white;
}

i:hover {
  transform:rotate(15deg);
}

